<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch2_%EA%B8%B0%EC%B4%88%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 유형

숫자형: 정수(integer), 실수(float)

문자형: string

리스트: list [1,2,3,4,5], [a,b,c,d]

튜플: tuple (1,2,3,4,5) - 리스트와 비슷하나 내용을 추가,삭제할 수 없고 
실수변경이 불가 

집합: set("hellow"), set([1,2,3]) - 집합의 특징은 중복이 허용되지 않음

사전: dictionary  {'hellow':'world', 'python':'programming'} - key:value로 구분

논리/불린: boolean   true or false

나누기:  % : 나눈 후 나머지 돌려줌,  / : 나눗셈 결과, //: 나눈 몫(정수값)을 반환

문자열 이스케이프 코드
1. /n: 문자열 안에서 줄을 바끌때
2. /t: 문자열 사이에 탭 간격을 줄 때 사용
3. //: 문자 /를 그대로 표현할때
4. /': 작은 따옴표(')를 그대로 표현할때
5. /": 큰 따옴표(")를 그대로 표현할때
6. /r: 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
7. /f: 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
8. /a: 벨 소리(출력할 때 pc스피커에 '삑' 소리가 난다)
9. /b: 백스페이스
10. /000: 널 문자

문자열 연산
1. '+' : 문자열 더해서 연결
2. '*' : 문자열 곱하기
3. len(a) : 문자열 길이 구하기

In [1]:
# multistring

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [5]:
#문자열 인덱싱
a = "Life is short, You need Python"
print(a[0])
print(a[-0])
print(a[:])
print(a[1:5])
print(a[:6])

L
L
Life is short, You need Python
ife
Life i

In [14]:
#문자열 슬라이싱   a[0:3] - 0 <= a < 3
a = "Life is too short, You need Python"
print(a[0:3])
print(a[-1])
print(a[19:-7])
print(a[-3:-1])   # -3인 h는 포함, -1인 n은 불포함

Lif
n
You need
ho

In [20]:
#슬라이싱 연습
a = '20220320Rainy'
year = int(a[:4])
month = int(a[4:6])
date = int(a[6:8])
weather = a[8:]
print("오늘은 %d년 %d월 %d일이며, 날씨는 %s로 예보되어 있습니다" %(year, month, date, weather))

오늘은 2022년 3월 20일이며, 날씨는 Rainy로 예보되어 있습니다

In [21]:
#슬라이싱 연습
a = '20220320Rainy'
year = (a[:4])
month = (a[4:6])
date = (a[6:8])
weather = a[8:]
print("오늘은 %s년 %s월 %s일이며, 날씨는 %s로 예보되어 있습니다" %(year, month, date, weather))

오늘은 2022년 03월 20일이며, 날씨는 Rainy로 예보되어 있습니다

문자열 포맷코드

1. %s : 문자열(string)  : 아래의 어떤 형태의 값을 대입하도 문자열로 변환하여 출력한다.
2. %c : 문자1개(Character
3. %d : 정수(integer)
4. %f : 부동소수 (Floating-point)
5. %o : 8진수
6. %x : 16진수
7. %% : 문자 % 자체

In [22]:
print("I have %s apples" %3)

I have 3 apples

In [23]:
print("rate is %s" %3.234)

rate is 3.234

In [24]:
print("Error rate is %d%%" %98.5)

Error rate is 98%

In [30]:
# 포맷코드와 숫자 함께 사용
print("%10s" % "hi")   # hi가 오늘쪽으로 정렬, 전체길이가 10개인 문자열 공간에서 오른쪽으로 정열하고 앞의 나머지는 공백으로
print("%-10s jane" % "hi ") #hi를 포함한 10개 문자열(hi는 왼쪽 정렬) + jane

        hi
hi         jane

In [34]:
print("%.4f" %3.42134234)  # 0.4는 소숫점 네자리까지 나타냄   #%0.4,f 로도 가능
print("%10.4f" % 3.42134234) # 전체 10개의 문자열 공간에서 오른쪽 정렬하고(숫자앞에는 공백 4개), 소수점 4자리까지 표시

3.4213
    3.4213

In [38]:
# format 함수를 사용한 포매팅

print("I eat {0} apples".format(3))  #{0}인 부분이 format의 3으로 변경
print("I eat {0} apples".format("five"))

I eat 3 apples
I eat five apples

In [39]:
number = 5
print("I eat {0} apples".format(number))

I eat 5 apples

In [40]:
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number,day))

I ate 10 apples. so I was sick for three days.

In [41]:
print("I ate {number} apples. so I was sick for {day} days.".format(number=15,day=5))

I ate 15 apples. so I was sick for 5 days.

In [46]:
print("I ate {0} apples, so I was sick for {day} days.".format(2,day=2))

I ate 2 apples, so I was sick for 2 days.

In [50]:
#왼쪽, 오른쪽 정렬, 가운데 정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))

hi
        hi
    hi

In [54]:
#공백채우기
print("{0:=^10}".format("hi"))  # '='는 채워지는 문자, '^'는 가운데 정렬, 10은 10개 문자열
print("{0:!<10}".format("hi"))  # '!'는 채워지는 문자, "<"는 좌측정렬, 10은 10개 문자열

====hi====
hi!!!!!!!!

In [57]:
y = 3.42134234
print("{0:0.2f}".format(y))
print("{0:20.2f}".format(y))  #20개짜리 문자열

3.42
                3.42

In [58]:
print("{{ and }}".format())

{ and }

In [60]:
#f문자열 포매팅 - 파이썬 3.6버전부터 사용가능
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}살입니다.')
print(f'나의 이름은 {name}입니다. 나이는 {age}살이고, 내년에는 {age+1}살이 됩니다.')

나의 이름은 홍길동입니다. 나이는 30살입니다.
나의 이름은 홍길동입니다. 나이는 30살이고, 내년에는 31살이 됩니다.

In [62]:
d = {'name': '홍길동', 'age': 30}   #딕셔너리
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [66]:
#정렬, 공백채우기
f'{"hi":<10}'

'hi        '

In [67]:
f'{"hi":>10}'

'        hi'

In [68]:
f'{"hi":^10}'

'    hi    '

문자열 내장함수
1. count : 문자개수세기
2. find : 위치알려주기
3. index : 위치알려주기
4. join : 문자열 삽입
5. upper : 소문자를 대문자로
6. lower : 대문자를 소문자로
7. lstrip : 왼쪽 공백지우기
8. rstrip : 오른쪽 공백지우기
9. strip : 양쪽 공백 지우기
10. replace : 문자열 바꾸기
11. split : 문자열 나누기

In [70]:
a  ='hobby'
a.count('b')  # 문자열 중 b의 개수

2

In [71]:
a = 'Python is the best choice' 
a.find('b')    # 문자열 중 b가 처음으로 나온 위치, 만약 찾는 문자가 없으면 -1로 반환

14

In [72]:
a = 'Life is too short'
a.index('t')   # 문자열 중 t가 맨 처음 나온 위치 반환, 만약 찾는 문자가 없으면 오류발생

8

In [73]:
",".join('abcd')   # 문자열뿐 아니라, 리스타, 튜플에서도 사용가능

'a,b,c,d'

In [74]:
a = 'hi'
a.upper()

'HI'

In [75]:
a = 'HI'
a.lower()

'hi'

In [80]:
a ='         hi'
a.lstrip()

'hi'

In [81]:
a = 'hi           '
a.rstrip()

'hi'

In [82]:
a ='      hi        '
a.strip()

'hi'

In [83]:
a = 'Life is too short'
a.replace("Life", "Your Leg")

'Your Leg is too short'

In [84]:
a = "Life is too short"
a.split()          #공백을 기준으로 문자를 나눔

['Life', 'is', 'too', 'short']

In [87]:
b = "a:b:c:d"
b.split(':')  # ':' 를 기준으로 문자를 나눔

['a', 'b', 'c', 'd']

리스트형 자료

odd = [1, 3, 5, 7, 9]

['Life', 'is', 'too', 'short']

[1, 2, 'Life', 'is']

[1, 2, ['Life', 'is']]

리스트관련 함수: 

append: 리스트에 요소 추가

sort: 리스트의 요소를 순서대로 정렬

reverse: 리스트를 역순으로 뒤집는다

index : 리스트에 x값이 있으면 x의 위치값을 돌려준다

insert : 리스트의 a번째 위치에 b를 삽입

remove : 리스트에서 첫번째로 나오는 x를 삭제

pop : 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

count : 리스트에 포함된 요소 개수

extend : 리스트 확장

In [89]:
# 리스트의 인덱싱과 슬라이싱

a = [1, 2, ['Life', 'is']]
print(a[-1][1])  # 리스트 맨 마지막 리스트[-1] 중에 두번째 리스트[1] 출력

is

In [90]:
# 삼중 리스트의 인덱싱
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2][2][0])

Life

In [92]:
# 리스트의 슬라이싱
a = [1,2,3,4,5]
b = a[0:2]
b

[1, 2]

In [97]:
# 연산 오류
a = [1, 2, 3]
print(str(a[2]) + 'hi')

3hi

In [98]:
# 리스트의 수정과 삭제
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [99]:
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

In [100]:
a = [1, 2, 3]
del a[1:]
print(a)

[1]

In [106]:
a = [1, 2, 3]
a.append(4)
print(a)
a.append([5,6,7])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6, 7]]

In [110]:
a = [1, 2, 3]
a.extend([4,5,6])
b = a + [4,5,6] 
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [111]:
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

In [113]:
a = ['a', 'd', 'c', 'b']
a.sort()
print(a)

['a', 'b', 'c', 'd']

In [114]:
a = ['a', 'd', 'c', 'b']
a.reverse()    # 현재 상태 그대로 뒤집는다
print(a)

['b', 'c', 'd', 'a']

In [116]:
a = [1, 2, 3, 4, 5, 6]
print(a.index(3))   # 3은 리스트의 a[2]요소
print(a.index(5))

2
4

In [121]:
a = [1, 2, 3]
a.insert(0,4)   # a[0]의 위치에 4를 삽입
a.insert(2,7)
print(a)

[4, 1, 7, 2, 3]

In [123]:
a = [1,2,3,1,2,3]
a.remove(3)  # 리스트에서 첫번째로 나오는 3을 제거
a.remove(3)
print(a)

[1, 2, 1, 2]

In [125]:
a = [1, 2, 3]
print(a.pop(1)) # 리스트에서 a[1]번째 요소를 반환하고, 그 요소는 삭제한다
print(a)

2
[1, 3]

In [126]:
a = [1,2,3,1]
print(a.count(1))  #리스트안에 1이 몇개 있는지

2

튜플자료형

[   ] - 리스트,   (    ) - 튜플: 리스트와는 달리 값의 생성, 삭제, 수정이 불가하다

In [128]:
a = (1, 2, 3)
b = a + (4,)   # 튜플 a에 4를 추가하기
print(b)

(1, 2, 3, 4)

딕셔너리
dic = { key1 : value1, key2 : value 2 }

 { a : [1,2,3]} - 밸류값이 리스트도 가능

 관련함수

 keys : key만 반환(a.keys()), dict_keys를 리스트로 변환할 수 있다. list(a.keys())

 values : values()

 items : key, value 쌍 반환, a.items()

 clear : key, value 쌍으로 지우고 딕셔너리 안의 모든 요소를 삭제, a.clear()

 get : key로 value 얻기, a.get('name')

 in : 해당 key가 딕셔너리 안에 있는 조사  'name' in a

In [132]:
# 딕셔너리에 쌍 추가
a = {1:'a'}
a[2] = 'b'  # {2:'b'} 추가
a['name'] = 'pey'
a[3] = [1,2,3]
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [134]:
del a[1]
print(a)

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [137]:
a = {'name': 'pey', 'phone':'0100000000', 'birth':'1118'}
'name' in a

True

In [139]:
'emain' in a

False

집합자료형

s1 = set([1,2,3])   #리스트형 집합
s2 = set('Hello')   #문자열 집합

중복을 허용하지 않고 순서가 없다

In [140]:
s1 = set([1,2,3])  
s2 = set('Hello')   #문자열 집합
print(s1, s2)

{1, 2, 3} {'H', 'l', 'o', 'e'}

In [142]:
l1 = list(s1)  # 리스트자료로 변환
print(l1)
print(l1[0])

[1, 2, 3]
1

In [143]:
t1 = tuple(s1) # 튜플자료로 변환
print(t1)
print(t1[2])

(1, 2, 3)
3

In [144]:
# 교집합, 합집합, 차집합 구하기

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)   # 교집합 - '&'대신 intersection도 사용가능 --> s1.intersection(s2)
print(s1 | s2)   # 합집합 - '|'대신 union도 사용가능 --> s1.union(s2)
print(s1 - s2)   # 차집합 - '-'대신 diference도 사용가능 --> s1.difference(s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [145]:
# add, update, remove 함수
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [146]:
s1 = set([1,2,3])
s1.update([4,5,6])  #여러개를 한번에 추가할때
print(s1)

{1, 2, 3, 4, 5, 6}

In [147]:
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

불 자료형
True 와 False를 나타내는 자료
a = True
b = False

자료형의 참/거짓의 구분기준 (안의 내용이 비어 있으면 거짓)

문자열: "phthon" 참,  ""거짓

리스트: [1,2,3]참,  []거짓

튜플: () 거짓

딕셔너리: {} 거짓

숫자형:숫자 0 이 아닌 숫자: 참,   숫자 0: 거짓,  none:거짓

In [152]:
a = True
b = False
print(type(a))

<class 'bool'>

In [153]:
print(type(b))

<class 'bool'>

In [156]:
a = [1,2,3,4]
while a:   # a가 참인 동안(리스트에 숫자가 있는 동안) 실행
    print(a.pop()) # 리스트의 마지막 요소를 하나씩 꺼낸다
    
print(a)    #a가 거짓이면 빠져나와 리스트 a를 출력

4
3
2
1
[]

변수관련 내장함수
id : id(a) - 리스트 a가 저장된 메모리 주소
복사 : a = [1,2,3],   b=a  (b와 a는 완전이 동일하고 저장된 메모리 주소도 값다
a is b 하면 true로 반환된다

copy: from copy improt copy

In [157]:
a = [1,2,3]
print(id(a))

140516250636112

In [158]:
b = a
print(b)
print(id(b))

[1, 2, 3]
140516250636112

In [159]:
a is b

True

In [160]:
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [162]:
# 복사의 다른 방법  ':' 사용

a = [1,2,3]
b = a[:]   # 이렇게 복사하면
a[1] = 4   # a[1]만 바뀌고 b[1]은 바뀌지 않는다  
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [164]:
# copy 모듈 사용

from copy import copy
a = [7,8,9]
b = copy(a)
print(a)
print(b)

[7, 8, 9]
[7, 8, 9]

In [165]:
b is a   # 서로 다른 객체

False

In [172]:
# 변수를 만드는 여러가지 방법

a, b = ('phthon', 'life')
type(a)

str

In [173]:
# 연습문제 풀이
# 1. 홍길동의 평균점수 구하기
a = 80
b = 75
c = 55
result = (a+b+c)/3
print(result)

70.0

In [174]:
# 2. 자연수 13이 홀수인지 짝수 인지
print(13 % 2)

1

In [175]:
# 3. 주민번호를 연월일과 그 뒤 숫자부분으로 나누어 출력
pin = "881120-10668234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
10668234

In [176]:
# 4. 주민번호에서 성별구분하기
pin = "881120-10668234"
print(pin[7])

1

In [177]:
# 5. 문자열 a:b:c:d를 a#b#c#d로 바꾸어 출력
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [178]:
# 6. 리스트를 거꾸로 표현  [1,3,5,4,2] 를 [5,4,3,2,1]로
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [179]:
# 7. 리스트의 문자를 문자열로 만들어 출력
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)   # 리스트 a의 각 단어들을 한문장으로 조립할때 단어들 사이마다 공백을 넣어 주어야 한다.
print(result)

Life is too short

In [181]:
# 8. 튜플에 값 추가하기
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [182]:
# 9. a 리스트에서 중복 숫자 제거
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)   #a 리스트를 집합자료형으로 전환
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]