<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch2_%EA%B8%B0%EC%B4%88%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 유형

숫자형: 정수(integer), 실수(float)

문자형: string

리스트: list [1,2,3,4,5], [a,b,c,d]

튜플: tuple (1,2,3,4,5) - 리스트와 비슷하나 내용을 추가,삭제할 수 없고 
실수변경이 불가 

집합: set("hellow"), set([1,2,3]) - 집합의 특징은 중복이 허용되지 않음

사전: dictionary  {'hellow':'world', 'python':'programming'} - key:value로 구분

논리/불린: boolean   true or false

나누기:  % : 나눈 후 나머지 돌려줌,  / : 나눗셈 결과, //: 나눈 몫(정수값)을 반환

문자열 이스케이프 코드
1. /n: 문자열 안에서 줄을 바끌때
2. /t: 문자열 사이에 탭 간격을 줄 때 사용
3. //: 문자 /를 그대로 표현할때
4. /': 작은 따옴표(')를 그대로 표현할때
5. /": 큰 따옴표(")를 그대로 표현할때
6. /r: 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
7. /f: 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
8. /a: 벨 소리(출력할 때 pc스피커에 '삑' 소리가 난다)
9. /b: 백스페이스
10. /000: 널 문자

문자열 연산
1. '+' : 문자열 더해서 연결
2. '*' : 문자열 곱하기
3. len(a) : 문자열 길이 구하기

In [1]:
# multistring

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [5]:
#문자열 인덱싱
a = "Life is short, You need Python"
print(a[0])
print(a[-0])
print(a[:])
print(a[1:5])
print(a[:6])

L
L
Life is short, You need Python
ife
Life i

In [14]:
#문자열 슬라이싱   a[0:3] - 0 <= a < 3
a = "Life is too short, You need Python"
print(a[0:3])
print(a[-1])
print(a[19:-7])
print(a[-3:-1])   # -3인 h는 포함, -1인 n은 불포함

Lif
n
You need
ho

In [20]:
#슬라이싱 연습
a = '20220320Rainy'
year = int(a[:4])
month = int(a[4:6])
date = int(a[6:8])
weather = a[8:]
print("오늘은 %d년 %d월 %d일이며, 날씨는 %s로 예보되어 있습니다" %(year, month, date, weather))

오늘은 2022년 3월 20일이며, 날씨는 Rainy로 예보되어 있습니다

In [21]:
#슬라이싱 연습
a = '20220320Rainy'
year = (a[:4])
month = (a[4:6])
date = (a[6:8])
weather = a[8:]
print("오늘은 %s년 %s월 %s일이며, 날씨는 %s로 예보되어 있습니다" %(year, month, date, weather))

오늘은 2022년 03월 20일이며, 날씨는 Rainy로 예보되어 있습니다

문자열 포맷코드

1. %s : 문자열(string)  : 아래의 어떤 형태의 값을 대입하도 문자열로 변환하여 출력한다.
2. %c : 문자1개(Character
3. %d : 정수(integer)
4. %f : 부동소수 (Floating-point)
5. %o : 8진수
6. %x : 16진수
7. %% : 문자 % 자체

In [22]:
print("I have %s apples" %3)

I have 3 apples

In [23]:
print("rate is %s" %3.234)

rate is 3.234

In [24]:
print("Error rate is %d%%" %98.5)

Error rate is 98%

In [30]:
# 포맷코드와 숫자 함께 사용
print("%10s" % "hi")   # hi가 오늘쪽으로 정렬, 전체길이가 10개인 문자열 공간에서 오른쪽으로 정열하고 앞의 나머지는 공백으로
print("%-10s jane" % "hi ") #hi를 포함한 10개 문자열(hi는 왼쪽 정렬) + jane

        hi
hi         jane

In [34]:
print("%.4f" %3.42134234)  # 0.4는 소숫점 네자리까지 나타냄   #%0.4,f 로도 가능
print("%10.4f" % 3.42134234) # 전체 10개의 문자열 공간에서 오른쪽 정렬하고(숫자앞에는 공백 4개), 소수점 4자리까지 표시

3.4213
    3.4213

In [38]:
# format 함수를 사용한 포매팅

print("I eat {0} apples".format(3))  #{0}인 부분이 format의 3으로 변경
print("I eat {0} apples".format("five"))

I eat 3 apples
I eat five apples

In [39]:
number = 5
print("I eat {0} apples".format(number))

I eat 5 apples

In [40]:
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number,day))

I ate 10 apples. so I was sick for three days.

In [41]:
print("I ate {number} apples. so I was sick for {day} days.".format(number=15,day=5))

I ate 15 apples. so I was sick for 5 days.

In [46]:
print("I ate {0} apples, so I was sick for {day} days.".format(2,day=2))

I ate 2 apples, so I was sick for 2 days.

In [50]:
#왼쪽, 오른쪽 정렬, 가운데 정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))

hi
        hi
    hi

In [54]:
#공백채우기
print("{0:=^10}".format("hi"))  # '='는 채워지는 문자, '^'는 가운데 정렬, 10은 10개 문자열
print("{0:!<10}".format("hi"))  # '!'는 채워지는 문자, "<"는 좌측정렬, 10은 10개 문자열

====hi====
hi!!!!!!!!

In [57]:
y = 3.42134234
print("{0:0.2f}".format(y))
print("{0:20.2f}".format(y))  #20개짜리 문자열

3.42
                3.42

In [58]:
print("{{ and }}".format())

{ and }

In [60]:
#f문자열 포매팅 - 파이썬 3.6버전부터 사용가능
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}살입니다.')
print(f'나의 이름은 {name}입니다. 나이는 {age}살이고, 내년에는 {age+1}살이 됩니다.')

나의 이름은 홍길동입니다. 나이는 30살입니다.
나의 이름은 홍길동입니다. 나이는 30살이고, 내년에는 31살이 됩니다.

In [62]:
d = {'name': '홍길동', 'age': 30}   #딕셔너리
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [ ]:
#정렬, 공백채우기
print(f'{"hi":<10})'