<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch3_%EC%A0%9C%EC%96%B4%EB%AC%B8_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

In [2]:

pocket = ['paper', 'money', 'cellphone']
if 'coin' in pocket:
   pass     #아무것도 하지 않음
else:
   print("카드를 꺼내라")

카드를 꺼내라

In [5]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
   print('택시를 타고 가라')
elif card:
   print('버스를 타고 가라')
else:
   print('걸어가라')

버스를 타고 가라

In [6]:
 pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

In [11]:
score = int(input("점수를 입력하시오: "))
message = 'success' if score >= 60 else 'failure'
print(message)

점수를 입력하시오: 89
success

while 문 : 반복해서 문장을 수행해야 하는 경우

In [12]:
#나무를 열번 찍기

treeHit = 0
while treeHit <10 :
  treeHit = treeHit + 1  
  print ("나무를 %d번 찍었습니다." %treeHit)
  if treeHit == 10:
    print("나무가 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다

for 문 : for 변수 in 리스트(또는 튜플,문자열)

In [14]:
# 합격 불합격 분류

marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다" %number)
  else:
    print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다
2번 학생은 불합격입니다.
3번 학생은 합격입니다
4번 학생은 불합격입니다.
5번 학생은 합격입니다

In [15]:
# for 문과 contincu문

marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
  number = number + 1
  if mark < 60: continue    # 점수가 60점 미만인 학생은 mark < 60이 참이 되어 continue문이 수행되어, for문의 처음으로 돌아간다
  print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [25]:
# for문과 ,range

a = range(10)    # range는 리스트를 자동으로 만들어 준다
b = range(1,11)  # 시작과 끝을 지정, 끝의 숫자는 불포함
print(a,b)
print(len(a))
print(len(b))

range(0, 10) range(1, 11)
10
10

In [27]:
add = 0 
for i in range(1,11) :
  add = add + i

print(add)

55

In [30]:
mark = [90, 25, 67, 45, 80]
for number in range(len(mark)) :
  if mark[number] < 60: continue
  print("%d번 학생 축하합니다. 합격입니다." %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [32]:
# 구구단

for i  in range(2,10) :
  for j in range (1,10) :
    print (i*j, end=" ")   # 매개변수 end를 넣어준 이유는 해당 결과값을 출력할 때 다음 줄로 넘기지 않고 그 줄에 계속하기 출력하기 위해
  print(' ')    # 2단, 3단 등을 구분하기 위해

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [33]:
# 리스트 각 원소에 3을 곱하여 새로운 리스트를 만들기
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [34]:
# 더 줄여서

a = [1,2,3,4]
result = [num * 3 for num in a]

print(result)

[3, 6, 9, 12]

In [35]:
# 짝수에만 3일 곱하기

a = [1,2,3,4]
result = [num * 3 for num in a if num %2 == 0]
print(result)

[6, 12]

In [41]:
# 연습문제

result = 0
i = 1
while i <= 1000 :
  if i % 3 == 0 : 
    result =  result + i    # result += i  와 동일
  i = i + 1   # i += 1 과 동일

print(result)

166833

In [42]:
# * 모양

i = 0
while True : 
  i += 1
  if i > 5 : break
  print ('*' * i)

*
**
***
****
*****

In [45]:
# for 문을 사용하여 1부터 100까지의 숫자 출력

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [47]:
# for 문을 이용하여 A학급의 평균 점수를 보자

A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A :
  total += score
average = total / len(A)
print(average)

79.0

In [49]:
# 홀수에만 2를 곱하여 저장

numbers = [1,2,3,4,5]
 
result = []
for n in numbers:
  if n % 2 == 1 :
    result.append(n*2) 
print(result)

[2, 6, 10]

In [50]:
# 위 코드를 리스트 내포(list comprehension)를 사용하여 표현

numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]