<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch4_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4장 프로그램의 입력과 출력
4-1 함수

In [1]:
def add(a,b):
  return a + b

In [2]:
a = 3
b = 4 
c = add(a,b)
c

7

In [3]:
print(add(5,8))

13

In [5]:
def add(a,b):                # 일반적인 함수 형식 def    :
  result =  a + b              
  return result              #                      return

In [6]:
a = add(14,35)
print(a)

49

In [7]:
def say() :
  return 'Hi'

In [8]:
a = say()
print(a)

Hi

In [9]:
def add(a, b) :
  print("%d, %d의 합은 %d입니다." % (a, b, a+b) )

In [10]:
add (19, 6)

19, 6의 합은 25입니다.

In [11]:
a = add(19, 6)

19, 6의 합은 25입니다.

In [12]:
print(a)

None

In [13]:
def add(a, b):
  return a+b

In [15]:
result = add(a=5, b=9)
print(result)

14

In [17]:
result = add(b=10, a=4)
print(result)

14

여러개의 입력값을 받는 함수 만들기 (  def 함수이름 (*매개변수))

In [18]:
def add_many(*args):  # *arg처럼 매개변수 앞에 *를 붙이면 입력값을 전부 모아서 튜플로  만들어 준다. args는 무작위로 만든 변수임 
  result = 0
  for i in args:
    result = result + i  #*arg에 입력받은 모든 값을 더한다
  return result

In [19]:
result = add_many(1,2,3)
print(result)

6

In [20]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

여러개의 입력을 처리할때 def add_many(*args)처럼 함수의 매개변수로 *args만 사용할 수 있는 것은 아니다

In [1]:
def add_mul(choice, *args):
  if choice == "add":   # 매개변수 choice에 'add'를 입력받았을 때
     result = 0
     for i in args:
       result = result + i  # args에 입력받은 모든 값을 더한다
  elif choice == "mul":  #매개변수 choice에 'mul'을 입력받았을 때
     result = 1
     for i in args:
       result = result * i  # args에 입력받은 모든 값을 곱한다
  return result

In [6]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [5]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

키워드 파라미터 (매개변수 앞에 **를 붙인다) - key=value 형태의 딕셔너리에 저장된다

In [7]:
def print_kwargs(**kwargs):
  print(kwargs)

In [8]:
print_kwargs(a=1)

{'a': 1}

In [9]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [10]:
def add_and_mul(a,b):
  return a+b, a*b   #2개의 매개변수를 받아 더한 값과 곱한 값을 돌려준다

In [12]:
result = add_and_mul (6,7)
print(result)        # result라는 변수하나에 결과가 두개이지만, 튜플값의 형태인 (a_b, a*b)로 돌려준다

(13, 42)

In [13]:
result1, result2 = add_and_mul(8,4)
print(result1, result2)

12 32

함수는 return을 만나면 빠져나간다

In [14]:
def add_and_mul(a,b):
  return a+b  # 함수를 빠져나간다. 
  return a*b  # 이 문장은 실행되지 않는다

In [15]:
result = add_and_mul (5,4)
print(result)

9

특별한 상황에서 return을 단독으로 사용하여 함수를 즉시 빠져나가기

In [18]:
def say_nick(nick):
  if nick == '바보':
    return
  print("나의 별명은 %s입니다" % nick)

In [19]:
say_nick('야호')

나의 별명은 야호입니다

In [21]:
say_nick('바보')   # 함수를 즉시 빠져나간다

매개변수에 초기값 미리 설정하기

In [24]:
def say_myself(name, old, man=True):  # 이 함수는 3개의 매개변수를 받아 마지막 인수인 man이 true면 남자, flase이면 여자를  출력
  print("나의 이름은 %s입니다" %name)
  print("나이는 %d입니다" %old)
  if man:
    print("남자입니다")
  else:
    print("여자입니다")

In [25]:
say_myself("서정수", 47)

나의 이름은 서정수입니다
나이는 47입니다
남자입니다

In [26]:
say_myself("서정수", 47, True)

나의 이름은 서정수입니다
나이는 47입니다
남자입니다

In [27]:
say_myself("박응선", 27, False)

나의 이름은 박응선입니다
나이는 27입니다
여자입니다

함수대신 간편하기 람다사용하기

In [30]:
add = lambda a, b: a+b    # 람다는 return명령어가 없어도 결과값을 돌려준다
result = add(3,8)
print(result)

11

04-2 사용자 입력과 출력

In [31]:
a = input()          # input은 입력되는 모든 것을 문자열로 취급한다

Life is too short, you need pytthon

In [32]:
a

'Life is too short, you need pytthon'

In [33]:
number = input("숫자를 입력하시오: ")

숫자를 입력하시오: 4

In [35]:
print(number)

4

In [36]:
for i in range(10):        # 한줄에 결과값을 이어서 출력하기
  print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9

04-3 파일 읽고 쓰기

In [37]:
f = open("새파일.txt", 'w')   # r-읽기모드, w-쓰기모드,  a-추가모드: 파일의 마지막에 새로운 내용을 추가할 때 사용
f.close()

연습문제

In [42]:
# 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd) 작성

def is_odd(number):
  if number % 2 == 1:    # 2로 나누었을 때 나머지가 1이면 홀수
      return "홀수"
  else:
      return "짝수"

In [43]:
is_odd(7)

'홀수'

In [44]:
is_odd(16)

'짝수'

In [45]:
# 람다와 조건부 표현식을 사용하면 더욱 간단한다
is_odd = lambda x: "홀수" if x %2 == 1 else "짝수"
is_odd(17)

'홀수'

In [46]:
# 입력으로 들어오는 모든 수의 평균값을 계산하는 함수 (단, 입력으로 들어오는 수의 개수는 정해져 있지 않다)

def avg_number(*args):
  result = 0
  for i in args:
    result += i
  return result / len(args)

In [47]:
avg_number(1,2)

1.5

In [51]:
avg_number(1,2,3,4,5,6,7,8,9)

5.0

In [53]:
# 다음 두개의 숫자를 입력받아 더하여 돌려주는 프로그램

input1 = input("첫번째 숫자를 입력하시오: ")
input2 = input("두번째 숫자를 입력하시오: ")

total = int(input1) + int(input2)     # 입력ㄷ은 항상 문자열이므로 숫자로 바꾸어 주어야 한다
print("두수의 합은 %s입니다" % total)

첫번째 숫자를 입력하시오: 9
두번째 숫자를 입력하시오: 7
두수의 합은 16입니다