<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch4_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4장 프로그램의 입력과 출력
4-1 함수

In [1]:
def add(a,b):
  return a + b

In [2]:
a = 3
b = 4 
c = add(a,b)
c

7

In [3]:
print(add(5,8))

13

In [5]:
def add(a,b):                # 일반적인 함수 형식 def    :
  result =  a + b              
  return result              #                      return

In [6]:
a = add(14,35)
print(a)

49

In [7]:
def say() :
  return 'Hi'

In [8]:
a = say()
print(a)

Hi

In [9]:
def add(a, b) :
  print("%d, %d의 합은 %d입니다." % (a, b, a+b) )

In [10]:
add (19, 6)

19, 6의 합은 25입니다.

In [11]:
a = add(19, 6)

19, 6의 합은 25입니다.

In [12]:
print(a)

None

In [13]:
def add(a, b):
  return a+b

In [15]:
result = add(a=5, b=9)
print(result)

14

In [17]:
result = add(b=10, a=4)
print(result)

14

여러개의 입력값을 받는 함수 만들기 (  def 함수이름 (*매개변수))

In [18]:
def add_many(*args):  # *arg처럼 매개변수 앞에 *를 붙이면 입력값을 전부 모아서 튜플로  만들어 준다. args는 무작위로 만든 변수임 
  result = 0
  for i in args:
    result = result + i  #*arg에 입력받은 모든 값을 더한다
  return result

In [19]:
result = add_many(1,2,3)
print(result)

6

In [20]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

여러개의 입력을 처리할때 def add_many(*args)처럼 함수의 매개변수로 *args만 사용할 수 있는 것은 아니다

In [21]:
def add_mul(choice, *args):
  if choice == "add":   # 매개변수 choice에 'add'를 입력받았을 때
     result = 0
     for i in args:
       result = result + i  # args에 입력받은 모든 값을 더한다
  elif choice == "mul":  #매개변수 choice에 'mul'을 입력받았을 때
     result = 1
     for i in args:
       result = result * i  # args에 입력받은 모든 값을 곱한다
  return result

In [24]:
resutl = add_mul("add", 1,2,3,4,5)
print(result)

55