<a href="https://colab.research.google.com/github/sejii93/Jump-to-python/blob/main/ch5_%EB%82%A0%EA%B0%9C%EB%8B%AC%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 클래스

In [1]:
class Calculator:
  def __init__(self):   # 최초 만들어질 때 설정값
    self.result = 0     # self는 뒤에서 자세히 설명

  def add(self, num):
    self.result += num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

In [2]:
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [3]:
# 빼기 기능
def sub(self, num):
  self.result -= num
  return self.result

In [12]:
class FourCal:
  def __init__(self, first, second): # init 예약어
    self.first = first
    self.second = second   
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result
  
a = FourCal(1,2)

1

In [ ]:
# 상속

class FourCal:
  def __init__(self, first, second): # init 예약어
    self.first = first
    self.second = second   
  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

class MoreFourcal(FourCal):
  def pow(self):
    result = self.first **self.second
    return result

2. 모듈

3. 패키지

4. *에외처리*

try: # 오류가 발생할 수 있는 구문
except Exceptions as e : # 오류발생

else: # 오류가 발생하지 않음

finally # 무조건 마지막에 실행

In [16]:
try:
  4/0

except ZeroDivisionError as e:
  print(e)

division by zero

In [18]:
try:
  f = open('none', 'r')
except FileNotFoundError as e:
  print(str(e))
else:
  data = f.read()
  print(data)
finally:
  f.close()

[Errno 2] No such file or directory: 'none'

5. 내장함수

In [21]:
#abs 절대값
print(abs(-1.2))

1.2

In [23]:
# all : 모든 참인지 검사
all([1,2,3,0])  # 0 이 있기 때문에 false

False

In [24]:
# any : 하나라도 참이 있는가
any([1,2,3,0])

True

In [27]:
# chr : 아스키 코드를 입력받으 그 코드에 해당하는 문자를 출력하는 함수
# 아스키코드: 0~127 사이의 숫자를 각 문자에 대응
chr(97)

'a'

In [29]:
# dir : 객체가 자체적으로 가지고 있는 변수나 함수를 보여준다 (명령어의 모음)
print(dir([1,2,3]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [30]:
# divmod : 2개의 숫자를 입력받아 몫과 나머지를 튜플형태로 돌려줌
divmod(7,3)

(2, 1)

In [33]:
# enumerate : 열거하다 (리스트를 딕셔너리처럼 key, value 형태로 보여준다)
for i, name in enumerate(['body', 'foo', 'bar']):
  print(i, name)

0 body
1 foo
2 bar

In [34]:
# eval : 
eval ('1+2')

3

In [35]:
# filter
def positive(x):
  return x > 0

a = list(filter(positive, [1, -3, 2, 0, -5, 6]))
print(a)

[1, 2, 6]

In [36]:
#hex : 정수값을 입력받아 16진수로 변환
hex(234)

'0xea'

In [37]:
#id : 객체의 고유주소값
id(3)

94601091181120

In [38]:
#input
a = input()

sseo

In [39]:
b = input("Enter: ")

Enter: 4

In [40]:
# int : 문자열 형태의 숫자, 소숫점이 있는 숫자 등을 정수 형태로 돌려줌
int('3')

3

In [41]:
int(3.4)

3

In [43]:
int('11',2)

3

In [44]:
int('1A', 16)

26

In [47]:
#isinstance : 첫번째 인수로 인스턴스, 두번째 인수로 클래스 이름을 받는다 true or false로 돌려준다

In [48]:
#len : 입력값 s의 길이
len("python")

6

In [49]:
#list: 반복가능한 자료형 s를 입력받아 리스트로 만들어 주는 함수
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [50]:
#map : 입력받은 자료형의 각 소요를 함수f가 수행한 결과를 돌려준다
def two_times(numberList):
  result = []
  for number in numberList:
    result.append(number*2)
  return result

result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [51]:
#위 코딩을 map으로 변경

def two_times(x) : return x*2
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [ ]:
#max
#min
#open
#pow  : x의 y 제곱값을 돌려주는 함수

In [53]:
# range : for문과 함께 자주 사용. 입력받은 숫자에 해당하는 범위값을 반복 가능한 객체로 만들어 준다. range함수는 0부터 시작한다
# range(1,10,2) : 1부터 9까지 2의 간격으로
# range(0, -10, -1) : 0부터 -9까지, 숫자 사의 거리는 -1

list(range(5))

[0, 1, 2, 3, 4]

In [54]:
#round : 함수는 숫자를 입력받아 반올림해 주는 함수
round(5.3)

5

In [55]:
round(5.678, 2)  # 소수점 2자리까지만 반올림

5.68

In [56]:
#sorted: 입력값을 정렬한 후 그 결과를 리스트로 돌려주는 함수
sorted([3,1,2])

[1, 2, 3]

In [57]:
#str: 문자열 형태로 객체를 변환하여 돌려주는 함수
str(3)

'3'

In [58]:
str('hi'.upper())

'HI'

In [59]:
#sum : 입력받은 리스트나 튜플의 모든 요소의 합을 돌려주는 함수
sum([1,2,3])

6

In [60]:
sum((4,5,6))

15

6. 라이브러리